* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

@media (min-width: 800px) {  
    :root {
       --fs-h1: 4.5rem;
       --fs-h2: 3.75rem;
       --fs-h3: 1.5rem;
       --fs-body: 1.125rem;
    }
}


body {
    background: #EFEFEF;
    color: grey;
    font-weight: 600;
}

nav {
    /* text-align: center; */
    width: 100%;
    margin: 0px auto;
    padding: 20px 0;
}

nav li {
    padding-left: 50px;
    display: inline-block;
}

.social-list li{
    display: block;
    padding: 1px 0;
}

.intro {
    max-width: 100px;
}

