* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* LightMode */
    --bg-color-1: #EFEFEF;
    --text-color-1: grey;

    --text-weight: 600;
}


body {
    margin: auto;
    width: 1000px;
    background: var(--bg-color-1);
    color: var(--text-color-1);
    font-weight: var(--text-weight);
}

.logo {
    border: 2px solid red;
    width: 200px;
    height: 150px;

}


.nav-list {
    border: 2px solid blue;
    top: 30px;
    height: 240px;
    /* padding-top: 20px; */
    margin-bottom: 80px;
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.nav-list li {
    border: 2px solid green;
    border-top: 5px solid var(--text-color-1);
    padding-top: 80px;
    /* background-color: black; */
    list-style: none;
    width: 300px;
}

#intro {
    flex-basis: 600px;
}

.projects {
    height: 700px;
    display: grid;
    grid-template: repeat(3, 1fr) / 20% 1fr 1fr;  
    grid-template-areas: 
    "list img img"
    "list img img"
    "list img img";
}

.project-list {
    grid-area: list;
    list-style: none;
}

.image-container {
    grid-area: img;
}